body {
    margin: 0;
    padding: 0;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

canvas {
    background: #1c1c1c;
    border: 2px solid #fff;
}

#restartBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

